<html>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <style type="text/css">
    html, body, div, span, applet, object, iframe,
    h1, h2, h3, h4, h5, h6, p, blockquote, pre,
    a, abbr, acronym, address, big, cite, code,
    del, dfn, em, img, ins, kbd, q, s, samp,
    small, strike, strong, sub, sup, tt, var,
    b, u, i, center,
    dl, dt, dd, ol, ul, li,
    fieldset, form, label, legend,
    table, caption, tbody, tfoot, thead, tr, th, td,
    article, aside, canvas, details, embed,
    figure, figcaption, footer, header, hgroup,
    menu, nav, output, ruby, section, summary,
    time, mark, audio, video {
      margin: 0;
      padding: 0;
      border: 0;
      font-size: 100%;
      font: inherit;
      vertical-align: baseline;
    }
    /* HTML5 display-role reset for older browsers */
    article, aside, details, figcaption, figure,
    footer, header, hgroup, menu, nav, section {
      display: block;
    }
    body {
      line-height: 1;
    }
    ol, ul {
      list-style: none;
    }
    blockquote, q {
      quotes: none;
    }
    blockquote:before, blockquote:after,
    q:before, q:after {
      content: '';
      content: none;
    }
    table {
      border-collapse: collapse;
      border-spacing: 0;
    }
    div {
      position: absolute;
    }

    .main {
      left: 50%;
      margin-left: -297px;
      top: 0px;
      width: 595px;
      height: 842px;
      overflow: hidden;
      border: 1px solid grey;
    }

    span.cls_003, div.cls_003, span.cls_009, div.cls_009, span.cls_004, div.cls_004, span.cls_010, div.cls_010,
    span.cls_002, div.cls_002, span.cls_005, div.cls_005, span.cls_006, div.cls_006, span.cls_007, div.cls_007,
    span.cls_008, div.cls_008, span.cls_011, div.cls_011, span.cls_012, div.cls_012, span.cls_013, div.cls_013,
    span.cls_014, div.cls_014 {
      font-family: Arial, serif;
      text-decoration: none;
      font-weight:bold;
      font-style:normal;
      color:rgb(0,0,0);
    }
    span.cls_013, div.cls_013,
    span.cls_014, div.cls_014 {
      font-style:italic;
    }
    span.cls_006, div.cls_006, span.cls_007, div.cls_007,
    span.cls_008, div.cls_008, span.cls_012, div.cls_012 {
      font-weight:normal;
    }

    span.cls_003,
    div.cls_003 {
      font-size: 14.1px;
    }
    span.cls_009,
    div.cls_009 {
      font-size: 24.1px;
    }
    span.cls_004,
    div.cls_004 {
      font-size: 18.1px;
    }
    span.cls_010,
    div.cls_010 {
      font-size: 8.1px;
    }
    span.cls_002,
    div.cls_002 {
      font-size: 9.1px;
    }
    span.cls_005,
    div.cls_005 {
      font-size: 10.1px;
    }
    span.cls_006,
    div.cls_006 {
      font-size: 9.1px;
    }
    span.cls_007,
    div.cls_007 {
      font-size: 10.1px;
    }
    span.cls_008,
    div.cls_008 {
      font-size: 8.1px;
    }
    span.cls_011,
    div.cls_011 {
      font-size: 7.0px;
    }
    span.cls_012,
    div.cls_012 {
      font-size: 7.0px;
    }
    span.cls_013,
    div.cls_013 {
      font-size: 9.1px;
    }
    span.cls_014,
    div.cls_014 {
      font-size: 6.0px;
    }

    table.barby-barcode {
      border-spacing: 0;
      height: 45px;
      width: 369px;
    }
    tr.barby-row {}
    td.barby-cell {
      width: 1px;
      height: 45px;
    }
    td.barby-cell.on {
      background: #000;
    }
    .breaker {
      page-break-before: always;
    }
  </style>
</head>

<body>

<% eval("@duplicado_original='ORIGINAL'") %>

<%= @template_header %>

<div style="left:19.00px;top:272.04px" class="cls_010"><span class="cls_010">Código</span></div>
<div style="left:60.00px;top:272.04px" class="cls_010"><span class="cls_010">Producto / Servicio</span></div>
<div style="left:211.39px;top:272.04px" class="cls_010"><span class="cls_010">Cantidad</span></div>
<div style="left:263.61px;top:272.04px" class="cls_010"><span class="cls_010">U. Medida</span></div>
<div style="left:324.05px;top:272.66px" class="cls_011"><span class="cls_011">Precio Unit.</span></div>
<div style="left:386.97px;top:272.66px" class="cls_011"><span class="cls_011">% Bonif</span></div>
<div style="left:434.42px;top:272.66px" class="cls_011"><span class="cls_011">Imp. Bonif.</span></div>
<div style="left:520.50px;top:272.66px" class="cls_011"><span class="cls_011">Subtotal</span></div>

<% top = 293 %>
  <% @line_items.each_with_index do |line_item, index| %>
  <div style="left:18.00px;top:<%= top %>px" class="cls_008"><span class="cls_008"><%= (index + 1).to_s.rjust(3, "0") %></span></div>
  <div style="left:57.00px;top:<%= top %>px" class="cls_008"><span class="cls_008"><%= line_item.name %></span></div>
  <div style="left:243.43px;top:<%= top %>px" class="cls_008"><span class="cls_008"><%= line_item.quantity %></span></div>
  <div style="left:268.30px;top:<%= top %>px" class="cls_012"><span class="cls_012">unidades</span></div>
  <div style="left:357.54px;top:<%= top %>px" class="cls_008"><span class="cls_008"><%= line_item.imp_unitario %></span></div>
  <div style="left:392.22px;top:<%= top %>px" class="cls_008"><span class="cls_008">0,00</span></div>
  <div style="left:471.43px;top:<%= top %>px" class="cls_008"><span class="cls_008">0,00</span></div>
  <div style="left:554.54px;top:<%= top %>px" class="cls_008"><span class="cls_008"><%= line_item.imp_total_unitario %></span></div>
  <% top += 25 %>
<% end %>

<div style="left:444.50px;top:616.59px" class="cls_002"><span class="cls_002">Subtotal: $</span></div>
<div style="left:545.48px;top:616.59px" class="cls_002"><span class="cls_002"><%= afip_bill["imp_total"] %></span></div>
<div style="left:382.49px;top:634.59px" class="cls_002"><span class="cls_002">Importe Otros Tributos: $</span></div>
<div style="left:555.49px;top:634.59px" class="cls_002"><span class="cls_002">0,00</span></div>
<div style="left:415.99px;top:652.54px" class="cls_005"><span class="cls_005">Importe Total: $</span></div>
<div style="left:542.42px;top:652.54px" class="cls_005"><span class="cls_005"><%= afip_bill["imp_total"] %></span></div>

<%= @template_footer %>

<div style="page-break-before: always;"></div>

<% eval("@duplicado_original='ORIGINAL'") %>
<%= @template_header %>

<div style="left:19.00px;top:272.04px" class="cls_010"><span class="cls_010">Código</span></div>
<div style="left:60.00px;top:272.04px" class="cls_010"><span class="cls_010">Producto / Servicio</span></div>
<div style="left:211.39px;top:272.04px" class="cls_010"><span class="cls_010">Cantidad</span></div>
<div style="left:263.61px;top:272.04px" class="cls_010"><span class="cls_010">U. Medida</span></div>
<div style="left:324.05px;top:272.66px" class="cls_011"><span class="cls_011">Precio Unit.</span></div>
<div style="left:386.97px;top:272.66px" class="cls_011"><span class="cls_011">% Bonif</span></div>
<div style="left:434.42px;top:272.66px" class="cls_011"><span class="cls_011">Imp. Bonif.</span></div>
<div style="left:520.50px;top:272.66px" class="cls_011"><span class="cls_011">Subtotal</span></div>

<% top = 293 %>
  <% @line_items.each_with_index do |line_item, index| %>
  <div style="left:18.00px;top:<%= top %>px" class="cls_008"><span class="cls_008"><%= (index + 1).to_s.rjust(3, "0") %></span></div>
  <div style="left:57.00px;top:<%= top %>px" class="cls_008"><span class="cls_008"><%= line_item.name %></span></div>
  <div style="left:243.43px;top:<%= top %>px" class="cls_008"><span class="cls_008"><%= line_item.quantity %></span></div>
  <div style="left:268.30px;top:<%= top %>px" class="cls_012"><span class="cls_012">unidades</span></div>
  <div style="left:357.54px;top:<%= top %>px" class="cls_008"><span class="cls_008"><%= line_item.imp_unitario %></span></div>
  <div style="left:392.22px;top:<%= top %>px" class="cls_008"><span class="cls_008">0,00</span></div>
  <div style="left:471.43px;top:<%= top %>px" class="cls_008"><span class="cls_008">0,00</span></div>
  <div style="left:554.54px;top:<%= top %>px" class="cls_008"><span class="cls_008"><%= line_item.imp_total_unitario %></span></div>
  <% top += 25 %>
<% end %>

<div style="left:444.50px;top:616.59px" class="cls_002"><span class="cls_002">Subtotal: $</span></div>
<div style="left:545.48px;top:616.59px" class="cls_002"><span class="cls_002"><%= afip_bill["imp_total"] %></span></div>
<div style="left:382.49px;top:634.59px" class="cls_002"><span class="cls_002">Importe Otros Tributos: $</span></div>
<div style="left:555.49px;top:634.59px" class="cls_002"><span class="cls_002">0,00</span></div>
<div style="left:415.99px;top:652.54px" class="cls_005"><span class="cls_005">Importe Total: $</span></div>
<div style="left:542.42px;top:652.54px" class="cls_005"><span class="cls_005"><%= afip_bill["imp_total"] %></span></div>

<%= @template_footer %>


</body>
</html>
