<html>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <style type="text/css">
    html, body, div, span, applet, object, iframe,
    h1, h2, h3, h4, h5, h6, p, blockquote, pre,
    a, abbr, acronym, address, big, cite, code,
    del, dfn, em, img, ins, kbd, q, s, samp,
    small, strike, strong, sub, sup, tt, var,
    b, u, i, center,
    dl, dt, dd, ol, ul, li,
    fieldset, form, label, legend,
    table, caption, tbody, tfoot, thead, tr, th, td,
    article, aside, canvas, details, embed,
    figure, figcaption, footer, header, hgroup,
    menu, nav, output, ruby, section, summary,
    time, mark, audio, video {
      margin: 0;
      padding: 0;
      border: 0;
      font-size: 100%;
      font: inherit;
      vertical-align: baseline;
    }
    /* HTML5 display-role reset for older browsers */
    article, aside, details, figcaption, figure,
    footer, header, hgroup, menu, nav, section {
      display: block;
    }
    body {
      line-height: 1;
    }
    ol, ul {
      list-style: none;
    }
    blockquote, q {
      quotes: none;
    }
    blockquote:before, blockquote:after,
    q:before, q:after {
      content: '';
      content: none;
    }
    table {
      border-collapse: collapse;
      border-spacing: 0;
    }
    div {
      position: absolute;
    }

    .main {
      left: 50%;
      margin-left: -297px;
      top: 0px;
      width: 595px;
      height: 842px;
      overflow: hidden;
      border: 1px solid grey;
    }

    span.cls_003, div.cls_003, span.cls_009, div.cls_009, span.cls_004, div.cls_004, span.cls_010, div.cls_010,
    span.cls_002, div.cls_002, span.cls_005, div.cls_005, span.cls_006, div.cls_006, span.cls_007, div.cls_007,
    span.cls_008, div.cls_008, span.cls_011, div.cls_011, span.cls_012, div.cls_012, span.cls_013, div.cls_013,
    span.cls_014, div.cls_014 {
      font-family: Arial, serif;
      text-decoration: none;
      font-weight:bold;
      font-style:normal;
      color:rgb(0,0,0);
    }
    span.cls_013, div.cls_013,
    span.cls_014, div.cls_014 {
      font-style:italic;
    }
    span.cls_006, div.cls_006, span.cls_007, div.cls_007,
    span.cls_008, div.cls_008, span.cls_012, div.cls_012 {
      font-weight:normal;
    }

    span.cls_003,
    div.cls_003 {
      font-size: 14.1px;
    }
    span.cls_009,
    div.cls_009 {
      font-size: 24.1px;
    }
    span.cls_004,
    div.cls_004 {
      font-size: 18.1px;
    }
    span.cls_010,
    div.cls_010 {
      font-size: 8.1px;
    }
    span.cls_002,
    div.cls_002 {
      font-size: 9.1px;
    }
    span.cls_005,
    div.cls_005 {
      font-size: 10.1px;
    }
    span.cls_006,
    div.cls_006 {
      font-size: 9.1px;
    }
    span.cls_007,
    div.cls_007 {
      font-size: 10.1px;
    }
    span.cls_008,
    div.cls_008 {
      font-size: 8.1px;
    }
    span.cls_011,
    div.cls_011 {
      font-size: 7.0px;
    }
    span.cls_012,
    div.cls_012 {
      font-size: 7.0px;
    }
    span.cls_013,
    div.cls_013 {
      font-size: 9.1px;
    }
    span.cls_014,
    div.cls_014 {
      font-size: 6.0px;
    }

    table.barby-barcode {
      border-spacing: 0;
      height: 45px;
      width: 369px;
    }
    tr.barby-row {}
    td.barby-cell {
      width: 1px;
      height: 45px;
    }
    td.barby-cell.on {
      background: #000;
    }
    .breaker {
      page-break-before: always;
    }
  </style>
</head>

<body>

<div class="main">
  <div style="left:0px;top:0px">
    <img src='file://<%= Gem.loaded_specs['afip_bill'].full_gem_path + "/lib/afip_bill/assets/images/factura_#{bill_type}.jpg" %>' width="595px" height="842px">

  </div>

  <div style="left:263.78px;top:22.31px" class="cls_003"><span class="cls_003"><%= header_text %></span></div>
  <div style="left:289.84px;top:43.90px" class="cls_009"><span class="cls_009"> <%= bill_type.upcase %> </span></div>
  <div style="left:341.00px;top:53.33px" class="cls_004"><span class="cls_004">FACTURA</span></div>
  <div style="left:70.00px;top:58.33px" class="cls_004"><span class="cls_004"> <%= AfipBill.configuration[:business_name] %></span></div>
  <div style="left:282.94px;top:72.04px" class="cls_010"><span class="cls_010">COD. 01</span></div>
  <div style="left:341.00px;top:84.24px" class="cls_002"><span class="cls_002">Punto de Venta:</span></div>
  <div style="left:417.00px;top:84.04px" class="cls_005"><span class="cls_005"><%= AfipBill.configuration[:sale_point] %></span></div>
  <div style="left:461.00px;top:84.24px" class="cls_002"><span class="cls_002">Comp. Nro:</span></div>
  <div style="left:517.00px;top:84.04px" class="cls_005"><span class="cls_005"><%= afip_bill["cbte_hasta"].to_s.rjust(8, "0") %></span></div>
  <div style="left:21.00px;top:101.59px" class="cls_002"><span class="cls_002">Razón Social:</span><span class="cls_006"> <%= AfipBill.configuration[:business_name] %></span></div>
  <div style="left:341.00px;top:100.41px" class="cls_002"><span class="cls_002">Fecha de Emisión:</span></div>
  <div style="left:428.00px;top:99.54px" class="cls_005"><span class="cls_005"><%= Date.parse(afip_bill["cbte_fch"]).strftime("%d/%m/%Y") %></span></div>
  <div style="left:21.00px;top:125.59px" class="cls_002"><span class="cls_002">Domicilio Comercial:</span><span class="cls_006"> <%= AfipBill.configuration[:business_address] %> </span></div>
  <div style="left:341.00px;top:123.41px" class="cls_002"><span class="cls_002">CUIT:</span></div>
  <div style="left:373.00px;top:123.41px" class="cls_006"><span class="cls_006"><%= AfipBill.configuration[:business_cuit] %></span></div>
  <div style="left:116.00px;top:135.94px" class="cls_006"><span class="cls_006"><%= AfipBill.configuration[:city] %></span></div>
  <div style="left:341.00px;top:135.41px" class="cls_002"><span class="cls_002">Ingresos Brutos:</span></div>
  <div style="left:419.00px;top:135.41px" class="cls_006"><span class="cls_006"><%= AfipBill.configuration[:ingresos_brutos] %></span></div>
  <div style="left:341.00px;top:147.41px" class="cls_002"><span class="cls_002">Fecha de Inicio de Actividades:</span></div>
  <div style="left:482.00px;top:147.41px" class="cls_006"><span class="cls_006"><%= AfipBill.configuration[:business_start_date] %></span></div>
  <div style="left:21.00px;top:150.41px" class="cls_002"><span class="cls_002">Condición frente al IVA: <%= AfipBill.configuration[:iva] %></span></div>
  <div style="left:21.00px;top:169.29px" class="cls_005"><span class="cls_005">Período Facturado Desde:</span></div>
  <div style="left:159.00px;top:169.29px" class="cls_007"><span class="cls_007"><%= Date.parse(afip_bill["fch_serv_desde"]).strftime("%d/%m/%Y") %></span></div>
  <div style="left:232.44px;top:169.29px" class="cls_005"><span class="cls_005">Hasta:</span><span class="cls_007"><%= Date.parse(afip_bill["fch_serv_hasta"]).strftime("%d/%m/%Y") %></span></div>
  <div style="left:362.96px;top:169.29px" class="cls_005"><span class="cls_005">Fecha de Vto. para el pago:</span></div>
  <div style="left:495.00px;top:169.29px" class="cls_007"><span class="cls_007"><%= Date.parse(afip_bill["fch_serv_hasta"]).strftime("%d/%m/%Y") %></span></div>
  <div style="left:21.00px;top:189.59px" class="cls_002"><span class="cls_002">CUIT:</span></div>
  <div style="left:52.00px;top:189.59px" class="cls_006"><span class="cls_006"><%= afip_bill["doc_num"] %></span></div>
  <div style="left:205.97px;top:189.59px" class="cls_002"><span class="cls_002">Apellido y Nombre / Razón Social:</span></div>
  <div style="left:354.00px;top:190.63px" class="cls_008"><span class="cls_008"><%= bill_type == "a" ? user.company_name : user.owner_name %></span></div>
  <div style="left:21.00px;top:208.59px" class="cls_002"><span class="cls_002">Condición frente al IVA:</span></div>
  <div style="left:131.00px;top:208.59px" class="cls_006"><span class="cls_006"><%= user.tax_category %></span></div>
  <div style="left:262.48px;top:208.59px" class="cls_002"><span class="cls_002">Domicilio Comercial:</span><span class="cls_008"> <%= user.address %></span></div>
  <div style="left:21.00px;top:229.91px" class="cls_002"><span class="cls_002">Condición de venta:</span><span class="cls_008">  Otra</span></div>
